transformers==4.44.2
huggingface-hub==0.24.6
sentencepiece==0.2.0
safetensors==0.4.5
tqdm==4.66.5
numpy==1.26.4
protobuf==4.25.4
tiktoken==0.7.0
accelerate==0.33.0
datasets==2.21.0
scikit-learn==1.5.1
evaluate==0.4.2
rouge_score==0.1.2
nltk==3.8.1
absl-py==2.1.0
PySide6==6.7.2
pypdf==4.3.1
matplotlib==3.9.2
